@use '../base/variables';
@use '../base/mixins';
@use '../components/infoscreen';

#permanent-key-info-container {
    @include mixins.flex-centered;
    flex-wrap: wrap;
    gap: clamp(10px, 2.5vw, 32px);
    width: min(684px, 95vw, calc((100vh - 210px) * 1.5));
    font-size: clamp(15px, 2vw, 24px);
    background-color: rgba(variables.$loco-yellow, 0.4);
    padding: 10px;
    border-radius: 10px;

    .permanent-key-info {
        @include mixins.flex-centered;
        gap: 10px;
    }
}

.permanent-key {
    @include mixins.flex-centered;
    width: clamp(22px, 2.8vw, 32px);
    height: clamp(22px, 2.8vw, 32px);
    border-radius: 8px;
    color: variables.$loco-red;
    background: variables.$loco-gradient;
    border: solid 2px;
    font-size: clamp(15px, 1.9vw, 22px);

    img:not(.key-space) {
        width: 8px;
        height: 8px
    }

    .key-space {
        width: clamp(16px, 2.1vw, 24px);
        height: clamp(16px, 2.1vw, 24px)
    }
}

.permanent-key-jump {
    @include mixins.flex-centered;
}

#permanent-key-separator {
    color: variables.$loco-red;
    margin: 0 8px;
    font-size: 24px;
}