@use '../base/variables';
@use '../base/mixins';

#touch-keys {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: calc(0.015 * variables.$canvas-width) calc(0.045 * variables.$canvas-width);
    width: 100vw;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    div {
        @include mixins.flex-centered;
        gap: calc(0.05 * variables.$canvas-width);
    }
}

#touch-keys.full-opacity {
    opacity: 0.9 !important;
}

#touch-keys:not(.full-opacity) .touch-key {
    pointer-events: none;
}

.touch-key {
    @include mixins.flex-centered;
    width: clamp(52px, 8vw, 76.8px);
    height: clamp(52px, 8vw, 76.8px);
    border-radius: 50%;
    color: variables.$loco-red;
    background: variables.$loco-gradient-reversed;
    border: solid 2px;
    font-size: calc(0.045 * variables.$canvas-width);
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;

    img:not(.key-bottle) {
        width: 33.33%;
        height: 33.33%;
    }

    &:hover {
        background: variables.$loco-gradient;
    }

    &:active {
        background: rgba(variables.$loco-red, 0.5);
    }
}

.key-bottle {
    width: 84% !important;
    height: 60% !important;
    rotate: -30deg;
}