@use '../base/variables';

@media only screen and (max-height: 500px) and (max-width: 425px) {
    body {
        gap: unset;
    }

    h1,
    #permanent-key-info-container {
        display: none;
    }
}

@media only screen and (max-height: calc(variables.$canvas-height)) and (min-width: variables.$canvas-width) {
    body {
        height: unset;
        gap: unset;
    }

    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .overlay-screen {
        border-radius: unset;
    }
}