@use '../base/variables';

.mobile-only {
    display: none !important;
}

.desktop-only {
    display: flex !important;
}

@media (pointer: coarse) {
    #play-btn img {
        opacity: 0.7 !important;
    }

    .key {
        border-radius: 50%;
        background: variables.$loco-gradient-reversed;
    }

    .touch-key {
        z-index: 1;
        opacity: 1;
    }

    #permanent-key-info-container {
        display: none;
    }

    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }

    #main-screen-container {
        width: min(720px, 95vw, calc((100vh - 160px) * 1.5));
    }

    @media (orientation:landscape) and (max-height: 500px) {
        body {
            gap: unset;
        }

        h1,
        #permanent-key-info-container {
            display: none;
        }

        #main-screen-container {
            width: min(100vw, calc(100vh * 1.5));
        }

        canvas {
            border-radius: unset;
            box-shadow: unset !important;
        }

        .overlay-screen {
            border-radius: unset;
        }

        #touch-keys {
            padding: 8px 16px;
        }
    }
}