@use '../base/variables';
@use '../base/mixins';
@use '../base/fonts';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('../assets/img/desert-bg3.png');
    background-size: cover;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: variables.$loco-red;
}

h1 {
    letter-spacing: 8px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba(variables.$loco-red, 0.3);
}