$loco-red: #a0220a;
$loco-yellow: #ffc521;
$loco-orange: #ef8b10;
$loco-beige: #CCAF7D;
$transparent-black: rgba(0, 0, 0, 0.878);
$loco-gradient: linear-gradient(to bottom, $loco-yellow, $loco-orange);
$loco-gradient-reversed: linear-gradient(to bottom, $loco-orange, $loco-yellow);
$canvas-width: 720px;
$canvas-height: 480px;